.navbar {
  // height: 50px;
  border: 0.5px solid lightgray;
  display: flex;

  flex-direction: column;
  font-size: 14px;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    .search {
      display: flex;
      align-items: center;
      border: 0.5px solid lightgray;
      padding: 3px;
    }
    input {
      border: none;
      outline: none;
      background: transparent;
    }
  }
  .items {
    display: flex;
    align-items: center;
    .item {
      display: flex;
      align-items: center;
      margin:  10px 20px;
      position: relative;
      .icon {
        font-size: 20px;
      }
      .avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
      .counter {
        width: 15px;
        height: 15px;
        background-color: red;
        border-radius: 50%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        font-weight: bold;
        position: absolute;
        top: -7px;
        right: -9px;
      }
    }
  }
}
